<div class="form-container tab-content flex citybreak" fxLayout fxLayout="column" fxFlex="auto" fxLayoutGap="15px" fxLayoutAlign="space-between stretch">
  <div [ngClass]="{show: shouldShowDest, hide: !shouldShowDest}" id="originMsg">
    <sw-auto-suggest-field (click)="onKeydownorigin()" (selectedLocation)="setOrgin($event)" fieldTitle="{{'searchWidget.origin' | translate}}"
      placeHolder="{{'searchWidget.cityBreakLocation' | translate}}" id="origin" locationType="{{locationTypeOrigin}}" productType="{{productType}}"
      class="fullwidth">
    </sw-auto-suggest-field>
    <div class="error-icon" *ngIf="shouldShowDest">
      <mat-icon class="tc-icon red">
        clear
      </mat-icon>
    </div>
  </div>
  <div [ngClass]="{show: shouldShow, hide: !shouldShow}" fxFlex="auto" id="destinationMsg" fxLayoutAlign="space-between stretch">
    <sw-auto-suggest-field (click)="onKeydown()" autofocus (selectedLocation)="setDestination($event)" fieldTitle="{{'searchWidget.destination' | translate}}"
      placeHolder="{{'searchWidget.cityBreakLocation' | translate}}" id="destination" locationType="{{locationTypeDestination}}" productType="{{productType}}"
      class="fullwidth">
    </sw-auto-suggest-field>
    <div class="error-icon" *ngIf="shouldShow">
      <mat-icon class="tc-icon red">
        clear
      </mat-icon>
    </div>
  </div>
  <div class="row align-items-center" fxFlex="auto" fxLayoutGap="15px" fxLayoutAlign="space-between stretch">
    <div [ngClass]="{show: showDate, hide: !showDate}" class="date-picker" fxFlex="50%" id="checkin" (click)="toggleCheckIn()">
      <mat-form-field floatLabel="never" class="form-group date-picker">
        <mat-datepicker-toggle matPrefix [for]="checkinpicker" class="app-input-icon text-blue"></mat-datepicker-toggle>
        <input matInput [matDatepicker]="checkinpicker" (ngModelChange)="ClickCheckin($event)" [min]="minDate" [max] = "maxDate" placeholder="{{'searchWidget.checkIn' | translate}}"
          [(ngModel)]="checkInDate" disabled>
        <mat-datepicker #checkinpicker disabled="false"></mat-datepicker>
        <div class="error-icon-date" *ngIf="showDate">
          <mat-icon class="tc-icon red">
            clear
          </mat-icon>
        </div>
      </mat-form-field>
    </div>
    <div [ngClass]="{show: showCheckoutDate, hide: !showCheckoutDate}" class="date-picker" fxFlex="50%" id="checkout"  (click)="toggleCheckOut()">
      <mat-form-field floatLabel="never" class="form-group date-picker">
        <mat-datepicker-toggle matPrefix [for]="checkoutpicker" class="app-input-icon text-blue"></mat-datepicker-toggle>
        <input matInput [matDatepicker]="checkoutpicker" (ngModelChange)="ClickCheckout()" [min]="minDateCheckOut" [max]="maxDateCheckOut" placeholder="{{'searchWidget.checkOut' | translate}}"
          [(ngModel)]="checkOutDate" disabled>
        <mat-datepicker #checkoutpicker disabled="false"></mat-datepicker>
        <div class="error-icon-date" *ngIf="showCheckoutDate">
          <mat-icon class="tc-icon red">
            clear
          </mat-icon>
        </div>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center" fxFlex="auto" fxLayoutGap="15px" fxLayoutAlign="space-between stretch">
    <sw-room-selector maxAdults="{{maxAdults}}" maxGuests="{{maxGuests}}" maxChildren="{{maxChildren}}" (selectedRooms)="setSelectedRooms($event)" class="fullwidth flex"></sw-room-selector>
  </div>
  <div class="row align-items-center" fxFlex="auto" fxLayoutGap="15px" fxLayoutAlign="space-between stretch">
    <div class="direct-flight" fxFlex="0 0 auto">
      <mat-checkbox [(ngModel)]="nonStopFlight" class="check-box" color="transparent">{{ 'searchWidget.advanceOption.directFlightsOnly' | translate }}</mat-checkbox>
    </div>
    <mat-form-field class="form-group adv-option-con" fxFlex="1 1 auto">
      <label matPrefix matlabel class="app-input-icon ">
        <strong class="itext">{{ 'searchWidget.advanceOption.preferredClass' | translate }}:</strong>
      </label>
      <mat-select [(value)]="cabinClass" ng-selected="xxxx">
        <mat-option value="e">{{ 'searchWidget.advanceOption.economy' | translate }}</mat-option>
        <mat-option value="b">{{ 'searchWidget.advanceOption.business' | translate }}</mat-option>
        <mat-option value="f">{{ 'searchWidget.advanceOption.firstClass' | translate }}</mat-option>
        <mat-option value="p">{{ 'searchWidget.advanceOption.premium' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row align-items-center" fxFlex="auto" fxLayoutGap="15px" fxLayoutAlign="space-between stretch">
    <button class="app-button btn btn-success btn-block" mat-raised-button (click)="search()">
      <mat-icon class="text-none v-align">search</mat-icon>{{ 'searchBar.searchCityBreak' | translate }} </button>
  </div>
</div>
