//@import 'colors';
//@import 'typography';
/*
$config: mat-typography-config();

@media (min-width: 320px) and (max-width: 480px) {
  .btn-white-wide {
    width: 300px;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: mat-font-size($config, body-1);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    letter-spacing: normal;
    text-align: left !important;
    //text-align: -webkit-left !important;
    background-color: $white;
    border-radius: 4px  !important;
    border: solid 1px $gray6 !important;
  }
}
 */
