/*********
* COLORS *
*********/

/** Blues */
$color:#0056b8;
$cobalt: #0056b8; //Neckermann Primary
$cobalt-light: #00b3ee; //Neckermann Primary
$ocean: #007b9d; //Airtours Primary
$ocean-light:  #0092bb; //Airtours Primary
$ocean-dark: #006f8e; //Airtours Primary
$cerulean: #009ddc;
$cerulean-light: #4ec4f4;
$cornflower: #549df1;
$cornflower-dark: #4a90e2;
$yoghurt: #8eb8c4; //New Brand
$menta: #6db4a9; //New Brand
$blue1: #4e92df;
$blue2: #589eee;
$blue3: #009edf;
/** Greens */
$apple: #5fb04f;
$moss: #c3e2aa;
$mantis: #6bc759;
$lima: #85c800;
$lima-light: #a5e428;
$lima-dark: #74a610;
$limeade: #74ae00;
$limeade-light: #91d014;
$limeade-dark: #658112;
$olive: #dad56d;
$zombie: #e1e189;
$limone: #cec947; //New Brand
$sage: #bdca97;
$latte: #b2a37b; //New Brand
$pistachio: #b9cba7; //New Brand

/** Reds, Pinks & Purples */
$red: #b10000;
$cinnabar: #de3333;
$red-orange: #f73838;
$tomato-red: #dd4212;
$carnelian-red: #b22e2a;
$pink-drago: #dc3767;
$darkish-pink: #de3f6c;
$raspberry: #e60362;
$raspberry-dark: #ba014f;
$pink-dark: #891c52;

/** Yellows & Oranges */
$sun: #fea907; //TC Primary
$sun-dark: #c98913; //TC Primary
$gold: #ffd924; //TC Primary
$gold-light: #ffe76b; //TC Primary
$bright-orange: #fd9826;
$carrot-orange: #f7941d;
$pesca: #f39100; //New Brand

/** Black, Gray shades, White */
$black: #000;
$gray1: #111;
$gray2: #333;
$gray3: #555;
$gray4: #777;
$gray5: #999;
$gray6: #d3d3d3;
$gray7: #eee;
$gray8: #f5f5f5;
$gray9: #ccc;
$white: #fff;
$opacity-black-1: rgba(0, 0, 0, .1);
$opacity-black-2: rgba(0, 0, 0, .2);
$opacity-black-3: rgba(0, 0, 0, .5);
$opacity-black-4: rgba(0, 0, 0, .7);

$opacity-white-3: rgba(255, 255, 255, .3);
$opacity-white-5: rgba(255, 255, 255, .5);
$opacity-white-9: rgba(255, 255, 255, .9);

/** 3rd PARTY */
$facebook: #3b5998;
$facebook-dark: #355089;
$google: #d64136;
$google-dark: #c03a30;
$twitter: #3cf;
$twitter-dark: #2eb7e5;
$youtube: #f00;
$youtube-dark: #d00;
$tripadvisor: #589442;
