@import "colors";

$ssw-nenb-background-color: $gray3 !default;
$ssw-nenb-foreground-color: $white !default;
$ssw-nenb-foreground-alt-color: $black !default;
$ssw-nenb-icon-color: $cerulean !default;

$ssw-necbe-background-color: $zombie !default;
$ssw-necbe-foreground-color: $cobalt !default;
$ssw-necbe-foreground-alt-color: $gray3 !default;
$ssw-necbe-icon-color: $cobalt !default;
